

.learner{
    display: flex;
    flex-direction: column;
}


.promo{
    margin-left: 70px;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media (max-width: 700px){
        width: 300px;
    }
    
}

.promo h2{
    width: 600px;
    font-size: 30px;
    color: #0ED290;
    @media (max-width: 700px){
        font-size: 25px;
        width: 350px;
    }
}

.promo h4 {
    width: 400px;
    font-size: 20px;
    margin-left: 80px;
    color: #020075;
    margin-bottom: 50px;
    @media (max-width: 700px){
        font-size: 15px;
        width: 300px;
        margin-left: 0px;
    }
}

.promo img {

    width: 120px;
    height: 120px;
    @media (max-width: 700px){
    }
}

.promo .lets{
    margin: auto;
    padding: 20px 40px;
    font-size: 20px;
    color: white;
    background: #1F9B00;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    @media (max-width: 700px){
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.description.d-user{
    h6{
        color: rgb(240, 240, 240);
    }
    h5{
        color: #0ED290;
    }
}
section.learner{
    background-color: #4285f4;
}
.lawyer{
    display: flex;
    flex-direction: column;
}
.q-user{
    h2{
        color:rgb(159, 245, 138);
    }
}


.description{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.point{
    margin-right: 80px;
    margin-bottom: 40px;
    width: 300px;
    @media (max-width: 700px){
        margin-right: 0px;
        
    }
}
.point h5{
    font-size: 18px;
    color: #1F9B00;
}
.point h6{
    font-size: 16px;
}
.point:first-child{
    margin-left: 50px;
    @media (max-width: 700px){
        margin-left: auto;
    }
}
.point:last-child{
    margin-right: 50px;
}

.q-lawyer h2{
    color: #0635C9;
}

.d-lawyer .point h5 {
    color: #60B7FF;
}

.promo .l-lawyer{
    background-color: #38A5FF;
}