<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ section.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<navbar class="nav">
    <div class="left">
        <div class="logo">
            <img src="images/logo.png" alt="">
            <p class="logo">AskAndy</p>
        </div>
        <div class="links">
            <ul>
                <li><a href="">How does it work?</a></li>
                <li><a href="">Calendar</a></li>
                <li><a href="">For lawyers</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="account">
            <div class="login">LogIn</div>
            <div class="signup">SignUp</div>
        </div>
    </div>
</navbar>
<!-- Learner section -->
<section class="learner">
    <div class="promo p-user">
        <div class="question q-user">
            <h2>Have a question for lawyer?</h2>
            <h4>Who said that lawyers are expensive?</h4>
        </div>
        <img src="/images/user.png" alt="">
        <a href="./learner/"><div class="lets l-user">Let's ask!</div></a>
    </div>
    <div class="description d-user">
        <div class="point">
            <h5>1. Find upcoming webinar related to your problem</h5>
            <h6>&nbsp;&nbsp;Search through our calendar for realted topics and we don’t have it - schedule one!</h6>
        </div>
        <div class="point">
            <h5>  2. Watch webinar about your problem and ask question</h5>
            <h6>  &nbsp;&nbsp; Get as much help as you need, pay only for what you really need - ask questions? Great! </h6>
        </div>
        <div class="point">
            <h5>3. Need more? Contact lawyer!</h5>
            <h6> &nbsp;&nbsp; Write directly to the lawyer who earned credits right now</h6>
        </div>
    </div>
<section>

<section class="lawyer">
    <div class="promo p-lawyer">
        <div class="question q-lawyer">
            <h2>Can answer legal questions?</h2>
            <h4>Who said that you can’t buy food serving people’s needs?</h4>
        </div>
        <img src="images/lawyer.png" alt="">
        <a href="./lawyer/"><div class="lets l-lawyer">Let's answer!</div></a>
    </div>
    <div class="description d-lawyer">
        <div class="point">
            <h5>   1. Create webinar about familiar topic</h5>
            <h6>&nbsp;&nbsp;Search through our calendar for realted topics and we don’t have it - schedule one!</h6>
        </div>
        <div class="point">
            <h5>     2. Conduct workshop</h5>
            <h6>  &nbsp;&nbsp; Get as much help as you need, pay only for what you really need - ask questions? Great! </h6>
        </div>
        <div class="point">
            <h5>3. Elaborate on clients!</h5>
            <h6> &nbsp;&nbsp; Write directly to the lawyer who earned credits right now</h6>
        </div>
    </div>
<section>
</body>
</html>