{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="/seminars.css">
{% endblock head %}

{% block content %}
<div class="search-header center"><p id="search-head">Search for related topics</p></div>
<div class="search-bar center">
<div class="row ">
    <form class="col s12">
      <div class="row ">
          <div class="input-field offset-s3 col s6">
            <i class="material-icons prefix">search</i>
            <input placeholder="Search" id="first_name" type="text" class="validate">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="archive">
    <ul class="collapsible expandable">
        <li>
          <div class="collapsible-header active"><i class="material-icons">archive</i>Archive</div>
          <div class="collapsible-body active">  <div class="row marg">

                <div class="line">
                {% set today=now()|date %}
                {% for index in [0,1,2] %}
                  
                  <div class="card darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">{{section.pages[index].title}}</span>
                      <p>{{section.pages[index].content|safe}}</p>
                    </div>
                    <div class="date-name">
                        <div class="card-date">
                            <p>{{section.pages[index].date}}</p>
                        </div>
                        <div class="card-name">
                            <p>by {{section.pages[index].extra.author}}</p>
                        </div>
                    </div>
                    <div class="card-action" style = "display: flex; justify-content: space-evenly;">
                      <a href="#"class="dark-grey">Read more</a>
                      <a href="#">Sign up</a>
                    </div>
                  </div>
                {% endfor %}


            
          </div>
          <div class="row">
          </div></div></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">live_tv</i>Upcoming</div>
          <div class="collapsible-body">
          <div class="row marg">
          <div class="line">
            {% set today=now()|date %}
                {% for index in [3,4,5,6] %}
                  
                  <div class="card darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">{{section.pages[index].title}}</span>
                      <p>{{section.pages[index].content|safe}}</p>
                    </div>
                    <div class="date-name">
                        <div class="card-date">
                            <p>{{section.pages[index].date}}</p>
                        </div>
                        <div class="card-name">
                            <p>by {{section.pages[index].extra.author}}</p>
                        </div>
                    </div>
                    <div class="card-action" style = "display: flex; justify-content: space-evenly;">
                      <a href="#"class="dark-grey">Read more</a>
                      <a href="#">Sign up</a>
                    </div>
                  </div>
                {% endfor %}
            
        
      </div>
    </div>
</div>
        </li>

      </ul>
</div>

{% endblock content %}